@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
margin: auto;
width: 60%;
padding: 10px;
}

.login-head, .login-sub-head{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    margin:auto;
}
.login-sub-head{
    font-size: 12px;
}

.home-center {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}
