.form-verticalCenter {
  height: inherit;
}
.form-container {
  height: 90vh;
  margin-top: 12vh;
}
.form-name {
  text-align: center;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
